.number {
    width: 0rem;
    margin: auto;
    font-size: 4rem;

}

.box {
    margin: auto 2rem;
    background-color: rgb(0, 255, 38);
}

.btn {
    border-color: blue;
    border-width: 0.3em;
    border-style: groove;
    width: 100%;
}
.background,body {
    background-image: url(./background.png);
    height: 100%;
    margin: 0;
    padding: 0.1em 0.1em;
}

h1, ol, li {
    font-family: tiltPrism;
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(223, 4, 252, 0.671);
}
h1 {
    font-size: 3em;
}

.animals {
    list-style: georgian;
    padding: 1em;
    text-align: left;
    color: rgb(132, 0, 255);
  }

  @font-face {
    font-family: 'tiltPrism';
    src: url('./TiltPrism-Regular.ttf') format('truetype');
  }

  .hidden {
    display: none;
  }